body {
    font-family: 'Roboto', sans-serif;
    width: 1000px;
}


.hero {
    margin-bottom: 20px;
}

.hero > div {

}

.tile {
    display: flex;
    justify-content: space-between;
    
}

.tile > div {
    
}


.social {
    display: flex;
    justify-content: space-around;
}

.social > div {
    
}